*{

    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    
}

/*Barre de Navigations*/
.navbar{
    display: flex;
}
.logos{
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: fixed;
}
.logoo img{
    width: 170px;
}
/* fin de Barre de Navigations*/

.container{
    width: 100%;
    height: 100%;
    padding: 90px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commentair_bloc{
    width:90%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article{
    width: 85%;
    height: 400px;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
article img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
article h1{
    text-align: center;
    font-weight: 300;
    font-size: 29px;
    color: rgb(0, 0, 0);
}