.bloc_info{
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
}
.lien_bloc_une{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc_une{
    width: 89%;
    height: 90%;
    background-color: rgb(240, 240, 240);
}
.img_illustr{
    width: 100%;
}
.img_illustr img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.commentair {
    margin-top: 0px;
    text-align: center;
    color: aliceblue;
}
.commentair h1{
    color: black;
    font-size: 20px;
    margin-top: 6px;
    font-weight: 500;
}
.commentair h3{
    color: rgb(140, 140, 140);
    font-size: 13px;
    margin-top: 10px;
    font-weight: 400;
}
.commentair h6{
    color: rgb(140, 140, 140);
    margin-top: 25px;
    font-weight: 400;
}







.copyright{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Bas_de_page {
    width: 100%;
    height: 100%;
    background-color: black;
    margin-top: 50px;
}

.Bas_de_page .copyright{
    color: rgb(255, 255, 255);
    text-align: center;
   
}
.copyright h5{
    font-weight: 400;
    font-size: 10px;
}
