.cont{
    margin-top: 10px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont .cont_final{
    width: 88%;
    height: 96%;
    background: rgb(214, 214, 214);
}
.cont_final .texte_logo {
    height: 70px;
    background-color: rgb(181, 181, 181);
}
.texte_logo {
    display: flex;
    align-items: center;
}
.texte_logo h1{
    margin-left: 10px;
    font-weight: 300;
}