.contenaire{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;

}
.contenaire .texte_slider{
    background: rgb(233, 233, 233);
    color: rgb(0, 0, 0);
    padding: 0px 30px;
    /* Pour limite louverture du background */
    height: 100%;
    /* pour maintenire les texte les un sur les autre */
    overflow: hidden;
    border-radius: 10px;
}
.slide{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    font-weight: 100;
}
.slide:first-child{
    animation: anim 19s infinite;
}
@keyframes anim {
    0%{
       margin-top: -60px; 
    } 
    16%{
       margin-top: -120px; 
    } 
    33%{
        margin-top: -180px; 
    } 
    50%{
        margin-top: -120px; 
    } 
    66%{
        margin-top: -60px; 
    } 
    82%{
        margin-top: ; 
    } 
    100%{
        margin-top: ; 
    }  
}